<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Bienvenidos a Mercado Liebre</title>
		<link rel="stylesheet" href="/css/styles.css">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
		<script src="https://kit.fontawesome.com/48dd8da1b9.js" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
		<link rel="icon" href="/images/favicon.ico">
	</head>
	
	<body>
		<header>
			<img src="/images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre" width="40%" class="logo">
			<div>
				<form method="get" action="">
					<input type="text" placeholder="Buscar productos, marcas">
					<button>
						<i class="fas fa-search"></i>
					</button>
				</form>
			</div>
			<br>
			
			<p class="compra">
				<i class="fas fa-hand-holding-usd"></i>
				Compr&aacute; en cuotas y sin tarjeta de cr&eacute;dito
			</p>
			<nav>
				<ul>
					<li>
						<a href="ofertas.html" alt="Ofertas del sitio">
							Ofertas
						</a>
					</li>
					<li>
						<a href="tiendas-oficiales.html" alt="Tiendas oficiales">
							Tiendas Oficiales
						</a>
					</li>
					<li>
						<a href="vender.html" alt="Vende en nuestro sitio">
							Vender
						</a>
					</li>
					<li>
						<a href="ayuda.html" alt="Ayuda del sitio">
							Ayuda
						</a>
					</li>
				</ul>
				<ul>
					<li>
						<a href="crea-cuenta.html" alt="Crea tu cuenta en nuestro sitio">
							Cre&aacute; tu cuenta <i class="far fa-id-card"></i>
						</a>
					</li>
					<li>
						<a href="ingresa.html" alt="Ingresa al sitio">
							Ingres&aacute; <i class="fas fa-sign-in-alt"></i>
						</a>
					</li>
					<li>
						<a href="mis-compras.html" alt="Chequea tus compras">
							Mis compras <i class="fas fa-shopping-basket"></i>
						</a>
					</li>
				</ul>
			</nav>
			<div class="menu">
				<div class="burguer-menu">
					<i class="fas fa-bars"></i>
				</div>
			</div>
		</header>
		<img src="/images/img-home-banner.jpg" alt="Bienvenidos a Mercado Liebre" width="100%">

		<main>
			<section>
				<h2 class="title">Basado en tu &uacute;ltima visita</h2>
				<article>
					<img src="/images/img-cafetera-moulinex.jpg" width="100%">
					<div>
						<i class="fas fa-truck"></i>
						<p class="precio">$6.770</p>
						<p class="descuento">40% off</p>
						<h4 class="descripcion">Cafetera Moulinex</h4>
					</div>
				</article>

				<article>
					<img src="/images/img-macbook-pro-2019.jpg" width="100%">
					<div>
						<i class="fas fa-truck"></i>
						<p class="precio">$230.000</p>
						<p class="descuento">20% off</p>
						<h4 class="descripcion">MacBook Pro 2019</h4>
					</div>
				</article>

				<article>
					<img src="/images/img-samsung-galaxy-s10.jpg" width="100%">
					<div>
						<i class="fas fa-truck"></i>
						<p class="precio">$70.500</p>
						<p class="descuento">10% off</p>
						<h4 class="descripcion">Samsung Galaxy S10</h4>
					</div>
				</article>

				<article>
					<img src="/images/img-tv-samsung-smart.jpg" width="100%">
					<div>
						<i class="fas fa-truck"></i>
						<p class="precio">$23.300</p>
						<p class="descuento">5% off</p>
						<h4 class="descripcion">SmartTv Samsung 43"</h4>
					</div>
				</article>
			</section>

			<section>
				<h2 class="title">Ofertas</h2>
				<article>
					<img src="/images/img-cafetera-moulinex.jpg" width="100%">
					<div>
						<i class="fas fa-truck"></i>
						<p class="precio">$6.770</p>
						<p class="descuento">40% off</p>
						<h4 class="descripcion"Cafetera Moulinex</h4>
					</div>
				</article>

				<article>
					<img src="/images/img-macbook-pro-2019.jpg" width="100%">
					<div>
						<i class="fas fa-truck"></i>
						<p class="precio">$230.000</p>
						<p class="descuento">20% off</p>
						<h4 class="descripcion">MacBook Pro 2019</h4>
					</div>
				</article>

				<article>
					<img src="/images/img-samsung-galaxy-s10.jpg" width="100%">
					<div>
						<i class="fas fa-truck"></i>
						<p class="precio">$70.500</p>
						<p class="descuento">10% off</p>
						<h4 class="descripcion">Samsung Galaxy S10</h4>
					</div>
				</article>

				<article>
					<img src="/images/img-tv-samsung-smart.jpg" width="100%">
					<div>
						<i class="fas fa-truck"></i>
						<p class="precio">$23.300</p>
						<p class="descuento">5% off</p>
						<h4 class="descripcion">SmartTv Samsung 43"</h4>
					</div>
				</article>
			</section>
		</main>

		<br>
		<br>
		<br>
		<br>
		<br>

		<footer>
			<section>
				<i class="fas fa-credit-card"></i>
				<h5>Pag&aacute; con tarjeta o en efectivo</h5>
				<p>Con MercadoLiebreCash ten&eacute;s cuotas sin inter&eacute;s con tarjeta o efectivo en puntos de pago. 	&iexcl;Y siempre es seguro!</p>
			</section>
			<section>
				<i class="fas fa-gift"></i>
				<h5>Env&iacute;o gratis desde $ 2.500</h5>
				<p>Solo por estar registrad@ en Mercado Liebre ten&eacute;s env&iacute;os gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
			</section>
			<section>
				<i class="fas fa-user-shield"></i>
				<h5>Seguridad de principio a fin</h5>
				<p>	&iquest;No te gusta? &iexcl;Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque est&aacute;s siempre protegid@.</p>
			</section>
			<p class="copy">Copyright &copy; 1999-2020 MercadoLiebre S.R.L.</p>
			
		</footer>
	</body>
</html>