<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Bienvenidos a Mercado Liebre</title>
		<link rel="stylesheet" href="/css/styles.css">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
		<script src="https://kit.fontawesome.com/48dd8da1b9.js" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
		<link rel="icon" href="/images/favicon.ico">
	</head>
	
	<body>
		<header>
			<div class="big">
				<div class="first">
					<div class="logo">
						<a href="/">
							<img src="/images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre">
						</a>
					</div>
					<div class="buscador">
						<form method="get" action="">
							<input type="text" placeholder="Buscar productos, marcas">
							<button>
								<i class="fas fa-search"></i>
							</button>
						</form>
					</div>
				</div>
				
				<p class="compra">
					<i class="fas fa-hand-holding-usd"></i>
					Compr&aacute; en cuotas y sin tarjeta de cr&eacute;dito
				</p>
			</div>
			<nav>
				<ul>
					<li>
						<a href="ofertas.html" alt="Ofertas del sitio">
							Ofertas
						</a>
					</li>
					<li>
						<a href="tiendas-oficiales.html" alt="Tiendas oficiales">
							Tiendas Oficiales
						</a>
					</li>
					<li>
						<a href="vender.html" alt="Vende en nuestro sitio">
							Vender
						</a>
					</li>
					<li>
						<a href="ayuda.html" alt="Ayuda del sitio">
							Ayuda
						</a>
					</li>
				</ul>
				<ul>
					<li>
						<a href="register.html" alt="Crea tu cuenta en nuestro sitio">
							Cre&aacute; tu cuenta <i class="far fa-id-card"></i>
						</a>
					</li>
					<li>
						<a href="login.html" alt="Ingresa al sitio">
							Ingres&aacute; <i class="fas fa-sign-in-alt"></i>
						</a>
					</li>
					<li>
						<a href="mis-compras.html" alt="Chequea tus compras">
							Mis compras <i class="fas fa-shopping-basket"></i>
						</a>
					</li>
				</ul>
			</nav>
			<div class="menu">
				<div class="burguer-menu">
					<i class="fas fa-bars"></i>
				</div>
			</div>
		</header>
		
		<main class="register">
			<section>
                <form action="" method="POST">
                    <div class="flex-c">
						<div>
							<label for="name">Nombre y apellido: </label> 
							<input type="text" name="nombre_apellido" id="name" minlength="6" required> 
						</div>
						<div>
							<label for="user">Nombre de usuario: </label> 
							<input type="text" name="usuario" id="user" minlength="3" required>
						</div>
					</div>
					<div class="flex-c">
						<div>
							<label for="bdate">Fecha de nacimiento: </label>
							<input type="date" name="nacimiento" id="bday">
						</div>
						<div>
							<label for="address">Domicilio: </label> 
							<input type="text" name="domicilio" id="address">
						</div>
					</div>
                    <div>Perfil del usuario: </div>
                    
                    <input type="radio" name="comprar_vender" value="comprar" id="buy">
                    <label for="buy" class="option">Comprador</label> <br>
                    <input type="radio" name="comprar_vender" value="vender" id="sell"> 
                    <label for="sell" class="option">Vendedor</label>
                   
                    <div class="title-cat">Categor&iacute;as de inter&eacute;s: </div> 
                    <input type="checkbox" name="interes" value="electro" id="electro"> 
                    <label for="electro" class="option">Electro</label> <br>
                    <input type="checkbox" name="interes" value="moda" id="moda"> 
                    <label for="moda" class="option">Moda</label><br>
                    <input type="checkbox" name="interes" value="hogar" id="hogar"> 
                    <label for="hogar" class="option">Hogar</label><br>
                    <input type="checkbox" name="interes" value="jugueteria" id="jugueteria"> 
                    <label for="jugueteria" class="option">Jugueter&iacute;a</label> <br>
                    <input type="checkbox" name="interes" value="vida-sana" id="vida-sana">
                    <label for="vida-sana" class="option">Vida Sana</label>
                    
                    <label for="picture" class="m-t-25 m-b-15">Foto de usuario: </label>
                    <input type="file" name="foto" id="picture" accept=".jpg">
                    <div class="flex-c">
						<div>
							<label for="pass">Contrase&ntilde;a: </label> 
							<input type="password" name="contrasenia" id="pass" required>
                   		</div>
						<div>
							<label for="repeat">Confirmar contrase&ntilde;a: </label> 
							<input type="password" name="repetir-contrasenia" id="repeat" required>
						</div>
					</div>
					<div class="botones">
						<button type="reset">Borrar todo</button>
						<button>Enviar</button>
					</div>
                </form>
            </section>
		</main>

		<footer>
			<div class="iconos-footer">
				<section>
					<i class="fas fa-credit-card"></i>
					<h5>Pag&aacute; con tarjeta o en efectivo</h5>
					<p>Con MercadoLiebreCash ten&eacute;s cuotas sin inter&eacute;s con tarjeta o efectivo en puntos de pago. 	&iexcl;Y siempre es seguro!</p>
				</section>
				<section>
					<i class="fas fa-gift"></i>
					<h5>Env&iacute;o gratis desde $ 2.500</h5>
					<p>Solo por estar registrad@ en Mercado Liebre ten&eacute;s env&iacute;os gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
				</section>
				<section>
					<i class="fas fa-user-shield"></i>
					<h5>Seguridad de principio a fin</h5>
					<p>	&iquest;No te gusta? &iexcl;Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque est&aacute;s siempre protegid@.</p>
				</section>
			</div>
			<p class="copy">Copyright &copy; 1999-2020 MercadoLiebre S.R.L.</p>
		</footer>
	</body>
</html>