*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}
h1,h2,h3,h4,h5,h6{
    font-size: 24px;
    margin-bottom: 5px;
}
p{
    font-size: 12px;
}
i{
    font-size: 2em;
    margin-bottom: 10px;
}
header{
    background-color: #EAC926;
    padding:15px;
    color: #000;
}
header .first{
    display: flex;
}
header .logo{
    margin-bottom: 10px;
    width: 50%;
}
header .buscador{
    width: 50%;
    margin-left: 10px;
}
header .first .buscador form{
    position: relative;
}
header .first .buscador input{
    height: 35px;
    border: 0;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
}
header .first .buscador button {
    background-color: #ffffff;
    border: 0;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 0 0px 0 5px;
}
header .first .buscador button i{
    color: #666;
}
header .compra{
    text-align: center;
    margin-bottom: 10px;
}
header nav{
    display: none;
}
header nav ul{
    list-style-type: none;
    margin-bottom: 15px;
}
header nav ul li a{
    text-decoration: none;
    color: #000;
}
header nav ul li a i{
    font-size: 14px;
}
header button{
    height: 19px;
}
header button i{
    font-size: 13px;
}
header .menu{
    display: flex;
    justify-content: center;
    align-items: center;
}
header .menu .burguer-menu{
    background-color:#1259c3;
    height: 33px;
    width: 33px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #03264C;
    padding-top: 5px;
}
header .menu i{
    color: #ffffff;
    font-size: 20px;
}
h2.title{
    margin-top: 55px;
    color: #666;
    margin-bottom: 20px;
}
main{
    width: 90%;
    margin: 0 auto;
}
main section article{
    margin-bottom: 10px;
    background-color: #ffffff;
}
main section article div{
    padding: 15px;
    border-top: 1px solid #ebebeb;
}
.precio{
    font-size: 18px;
}
.descuento, 
.descripcion{
    font-size: 16px;
}
.descripcion{
    color: #666666;
    display: none;
}
main section{
    display: flex;
    flex-wrap: wrap;
}
main section article{
    width: 100%;
}
main section article div{
    position: relative;
}
main section article div i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    color: #39b54a;
    border: 1px solid #39b54a;
    background-color: #ffffff;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}
.descuento{
    color: #39b54a;
    margin-bottom: 20px;
}
main{
    padding: 0 15px;
}
footer section{
    text-align: center;
    margin-bottom: 50px;
    padding: 0 50px;
}
footer section i{
    color:#1259c3;
}
footer h5{
    color: #666666;
    font-size: 20px;
}
footer p{
    font-size: 13px;
}
footer .copy{
    text-align: left;
    padding: 0 0 30px 20px;
}

/* Navegacion en tablets */
@media (min-width: 361px) {
    .descripcion{
        display: block;
    }
    article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    header nav{
        display: block;
    }
    header .menu{
        display: none;
    }
    main section {
        margin: 0 -5px;
    }
    main section article {
        width: 46%;
        margin: 5px;
    }
}

/* Navegacion en desktop */
@media (min-width: 769px) {
    .descripcion{
        display: block;
    }
    header nav{
        display: block;
    }
    header .menu{
        display: none;
    }
    main section article {
        width: 30%;
        margin: 5px;
    }
}